@model IEnumerable<AquaG.TasksDbModel.ProjectModel>

@{
    ViewData["Title"] = "Список проектов и задач";
}
<h5>Задачи</h5>
<table width="100%">
    @foreach (var item in ViewBag.Tasks)
    {
        <tr>
            <td align="left"><a asp-action="Details" asp-route-id="@item.Id">@item.Caption</a><hr></td>
            <td align="right">
                @{
                    if (item.IsOneAction) "++".ToString();
                } &nbsp;
                @{
                    (item.EndDate ?? "").Tostring();
                }<hr>
            </td>
        </tr>
    }
    <tr><td colspan="2" align="right"><a asp-controller="Task" asp-action="Edit">Новая задача</a></td></tr>
</table>


<h5>Проекты</h5>
<table width="100%">
    @foreach (var item in Model)
    {
        <tr>
            <td align="left"><a asp-action="Details" asp-route-id="@item.Id">@item.Caption</a><hr></td>
            <td align="right">&nbsp;@{
                    if (@item.NumberOfTasks != 0)
                    {
                        @item.NumberOfTasks
                    };
                }<hr></td>
        </tr>
    }
    <tr><td colspan="2" align="right"><a asp-action="Edit">Новый проект</a></td></tr>
</table>


